@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.header-li-item {
  font-size: 1.2rem;
  font-weight: 600;
  color: #4a5565dc;
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover {
    color: #202c45;
  }
}

/* End Header */

/* Custom Scrollbar for Textarea */
.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
  border: 1px solid transparent;
  background-clip: content-box;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
  background-clip: content-box;
}

/* Textarea specific scrollbar */
textarea.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}

textarea.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
  margin: 4px;
}

textarea.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 8px;
  border: 1px solid transparent;
  background-clip: content-box;
}

textarea.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
  background-clip: content-box;
}
